<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Para sua saúde</title>
    <link rel="stylesheet" href="/css/styleHealth.css">
</head>
<body>
    <header>
        <a href="/interfaceUsuario"><img src="/img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>
        <nav id="menu">
            <ul>
                <li><a href="/aluno/buscarProfissional" class="navConfig">Buscar Profissional</a></li>
                <li><a href="/aluno/buscarAcademia" class="navConfig">Buscar Academias</a></li>
                <li><a href="/produtos" class="navConfig" target="_blank">Produtos</a></li>
                <li><a href="/aluno/editarDados" class="navConfig">Editar Dados</a></li>
                <li><a href="/" class="navConfig">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="blockBlog">
            <% if (posts && posts.length > 0) { %>
                <% posts.forEach(post => { %>
                    <section class="post">
                        <h5><%= post.categoria %></h5>
                        <section class="titleBlog">
                            <img class="imgHealth" src="<%= post.imagem %>" alt="<%= post.alt %>"> 
                        </section>
                        <section class="contentInfo">
                            <h3><%= post.titulo %></h3>
                            <p><%= post.descricao %></p>
                        </section>
                        <a class="linkHealth" href="<%= post.link %>" target="_blank">Saiba mais...</a>
                    </section>
                <% }); %>
            <% } else { %>
                <section class="post">
                    <h5>DICAS DE ALIMENTAÇÃO</h5>
                    <section class="titleBlog">
                        <img class="imgHealth" src="/img/legumes3.png" alt="Legumes"> 
                    </section>
                    <section class="contentInfo">
                        <h3>Gastronomia Funcional:</h3>
                        <p>Quando se trata de emagrecimento saudável, a gastronomia funcional se destaca como uma abordagem que combina prazer e saúde.</p>
                    </section>
                    <a class="linkHealth" href="https://estimanutricao.com.br/gastronomia-funcional/" target="_blank">Saiba mais...</a>
                </section>
                <section class="post">
                    <h5>DICAS DE ALIMENTAÇÃO</h5>
                    <section class="titleBlog">
                        <img class="imgHealth" src="/img/diferentesDietas3.jpg" alt="Diferentes dietas"> 
                    </section>
                    <section class="contentInfo">
                        <h3>Explorando diferentes dietas:</h3>
                        <p>Neste artigo, vamos explorar alguns dos padrões alimentares mais conhecidos e discutir seus prós e contras, para ajudá-lo a encontrar o estilo alimentar que se adapte às suas necessidades e objetivos.</p>
                    </section>
                    <a class="linkHealth" href="https://estimanutricao.com.br/explorando-diferentes-dietas-encontre-o-estilo-alimentar-que-funciona-para-voce/" target="_blank">Saiba mais...</a>
                </section>

                <section class="post">
                    <h5>ORIENTAÇÕES</h5>
                    <section class="titleBlog">
                        <img class="imgHealth" src="/img/paciente4.jpg" alt="Diferentes dietas"> 
                    </section>
                    <section class="contentInfo">
                        <h3>Uma Abordagem Nutricional para o Bem-Estar:</h3>
                        <p>Como a Nutrição pode Contribuir para o Alívio dos Sintomas das Doenças Autoimunes?</p>
                    </section>
                    <a class="linkHealth" href="https://estimanutricao.com.br/orientacao-para-doencas-autoimunes-uma-abordagem-nutricional-para-o-bem-estar/" target="_blank">Saiba mais...</a>
                </section>

                <section class="post">
                    <h5>ORIENTAÇÕES</h5>
                    <section class="titleBlog">
                        <img class="imgHealth" src="/img/dormindo2.png" alt="Diferentes dietas"> 
                    </section>
                    <section class="contentInfo">
                        <h3>Quais os riscos de não ter um sono reparador?</h3>
                        <p>Você já acordou com aquela sensação ruim após dormir mal? Uma noite mal dormida influencia a qualidade de vida e traz consequências a saúde.</p>
                    </section>
                    <a class="linkHealth" href="https://estimanutricao.com.br/orientacao-para-doencas-autoimunes-uma-abordagem-nutricional-para-o-bem-estar/" target="_blank">Saiba mais...</a>
                </section>
            <% } %>
        </section>
    </main>
</body>
</html>
